/* Whole Page */
body{
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;

    background:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("spider1.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

/* Calculator Box */
.calculator{
    width:330px;
    background:#e98b8b;
    padding:20px;
    border-radius:15px;
    border:4px solid #0066cc;
    box-shadow:0 0 25px red;
}

/* Heading */
h1{
    text-align:center;
    color:white;
    margin-bottom:20px;
}

/* Display */
#display{
    width:100%;
    height:60px;
    font-size:28px;
    text-align:right;
    border:none;
    border-radius:10px;
    margin-bottom:20px;
    padding-right:10px;
    background:#111;
    color:#00d9ff;
    box-sizing:border-box;
}

/* Button Layout */
.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

/* Normal Buttons */
button{
    height:60px;
    font-size:22px;
    border:none;
    border-radius:50%;
    background:#222;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

/* Hover Effect */
button:hover{
    background:#0066cc;
    transform:scale(1.08);
}

/* Operator Buttons */
.operator{
    background:#0066cc;
}

.operator:hover{
    background:red;
}